spring:
  application:
    name: api-navidam

  datasource:
    url: jdbc:h2:file:./data/navidam;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true

  sql:
    init:
      mode: always
      schema-locations: classpath:init.sql   # tu script con sintaxis Postgres

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080


navidam:
  n8n:
    webhook-url: "http://localhost:5678/webhook-test/navidam-send"